/* Universal Box Sizing */
* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* Body Background */
body {
    background-color: #214770;
}

/* Flex Container Setup */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding: 20px; /* Adjust or remove padding based on your design */
}

/* Typography */
h1, h2, h3, p, a, li, code {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.error{
  
    font-size: 4vw;
}



code {
    color: green;
    font-size: 7vw;
    margin-bottom: 3%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12vw;
    color: #d0ff00;
    text-shadow: rgb(0, 0, 0) 2px 1px;
}

h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10vw;
    color: #d0ff00;
    text-shadow: #ffffff;
}

p, li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8vw;
    color: #ffffff;
    flex-wrap: wrap;
}

a {
    color: #006eff;
    font-family: Arial, Helvetica, sans-serif;
}

/* Quiz Options Styling */
.quiz-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 40%;
    top:2px;
}

.quiz-options img {
    width: 50vw;
    max-width: auto;
    cursor: pointer;
    transition: background 2s;
    /* background-color: rgb(33, 71, 112); */
    background-color: transparent;
    
}

.quiz-options img:hover {
    background-color: #000000;
}

/* Buttons */
.btn {
    background-color: #006eff;
    border-radius: 10%;
    border-color: #ffffff;
    width: 25vw;
    height:3vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7px;;
    text-align: center;
    
  }
  
  .btn:hover {
    background-color: rgb(0, 255, 153);
    color: rgb(0, 0, 0);
    font-weight: bold;
  }



/* Input Styles */
input[type="text"], input[name="Name"], input[name="Score"], input[name="Time"], input[type="submit"] {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 5vw;
    width: auto;
}

input[type="text"] {
    margin-top: 5px; /* Space between label text and input */
    padding: 0.5em; /* Adequate padding inside inputs for visual appeal */
}

/* Form Layouts */
form , .form1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    border: 2px solid white;
    background-color: #000000;
    flex-wrap: wrap;
}

/* Individual Forms */
#quiz-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}

/* Floating Score and Timer */
#floating-score, #timer-display, #back{
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 2%;
    left: 1%;
    z-index: 100;
    background-color: #ffffff;
    border-style: double;
    font-size: 1.75vw;
    padding: 10px;
    border-radius: 5px;
    font-size: 6vw;
}

#timer-display {
    right: 6%;
    left: auto;
    
}
#back{
    right: 45%;
    left:auto;
   
}

.submit{
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 100;
    background-color: #ffffff;
    border-style: double;
    font-size: 10vw;
    padding: 10px;
    border-radius: 5px;
}
  /* Image Transitions */
  img {
    -webkit-transition: background 2s;
    transition: background 2s;
    background-color: transparent;
    /* background-color:rgb(6, 26, 90); */
  
  } 

  img {
    top:20px;
    width:auto;
    height:auto;
  }
   
  img:hover {
    background-color: #000000;
  }
/* Media Queries for Responsiveness */
@media (max-width: 360px) {
    * {
        padding: 10px;
    }

    .container, .text-container, form {
        padding: 0;
        width: 100%;
    }

    input[type="text"] {
        width: 100%;
        font-size: 9vw;
    }

    h2, h3, a, li {
        font-size: 10vw;
        font-weight:bold ;
    }

    li {
        font-size: 2rem;
    }
}
.ring {
    position: relative;
    width: 100vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .ring i {
    position: absolute;
    inset: 0;
    border: 2px solid #fff;
    transition: 0.5s;
  }
  .ring i:nth-child(1) {
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 6s linear infinite;
  }
  .ring i:nth-child(2) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate 4s linear infinite;
  }
  .ring i:nth-child(3) {
    border-radius: 41% 44% 56% 59%/38% 62% 63% 37%;
    animation: animate2 10s linear infinite;
  }
  .ring i {
    border: 6px solid var(--clr);
    filter: drop-shadow(0 0 20px var(--clr));
  }
  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate2 {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
